.HoverCardContent {
    transform-origin: var(--radix-hover-card-content-transform-origin);
    animation: scaleIn 0.5s ease-out;
    width: auto;
  }
  .HoverCardContent[data-side='top'] {
    animation-name: slideUp;
  }
  .HoverCardContent[data-side='bottom'] {
    animation-name: slideDown;
  }
  
  @keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes scaleIn {
    from {
      opacity: 0;
      transform: scale(0);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }